@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Instrument+Serif:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";


@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-heebo: "Heebo", sans-serif;
    --font-mono: "Space Mono", monospace;
    --font-instrument: "Instrument Serif", serif;
    --color-customlime:#a8e524;
    

  }