@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


@import "tailwindcss";


@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-heebo: "Heebo", sans-serif;
  }